<link rel="stylesheet" href="../css/jquery.facebook.multiphoto.select.min.css">
<link rel="stylesheet" href="../css/colorPicker.css">
<style type="text/css" media="all">
    .center { margin:0 auto; }
    a:hover {
        color:0000
}
</style>

<div class="center" style="width:600px">
    <h1 class="logo_font">new slide show</h1>
    <div class="accordion" id="accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <h4>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">slide show info</a>
                </h4>
            </div>
            <div id="collapseOne" class="accordion-body in" style="height: auto; ">
                <div class="accordion-inner">
                    <form>
                        <fieldset>
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input style="height:40px" type="text" class="form-control" id="title" placeholder="Enter Title">
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea id="description" class="form-control" rows="3" placeholder="Enter Description"></textarea>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-6">
                                    <label for="background_color">Background Color</label>
                                    <input type="text" class="color" id="color1" value="508084">
                                </div>
                                <div class="col-lg-6">
                                    <label for="frame_color">Frame Color</label>
                                    <input type="text" class="color" id="color2" value="b8dbca">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <h4>
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">select photos</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                        <div style="height:auto;" class="row">
                            <div id="jfmps-container"></div>
                            <div id="fb-root"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
          <a id="submit-button" class="btn btn-default btn-large btn-block">create slideshow!</a>
          <!--<button id="submit-button" class="btn btn-default btn-large btn-block">Create Slide Show!</button>-->
        </div>
    </form>
</div>




<script src="http://connect.facebook.net/en_US/all.js"></script>
<script src="../js/jquery.facebook.multiphoto.select.min.js"></script>
<script src="../js/jquery.colorPicker.js"></script>
<script>
    (function($){
        $('.color').colorPicker({pickerDefault: "ffffff", colors: ["f6af1e", "fae6c8", "000000", "304959", "508084", "b8dbca", "332523", "b08358", "d6beaa", "8c3232", "e89292", "334a56", "aae2e2", "40484a", "a0b2b3", "ffffff", "e66a22", "f6ce1e", "566e35", "96a673", "272333", "5b4490", "bf93b0", "b7b2a8", "26a9e0"], transparency: true, showHexField: false}); 

        /** CHANGE THIS TO YOUR FACEBOOK APP ID **/
        FB.init({appId: '147710968767742', cookie: true, oauth: true});

        FB.getLoginStatus(function(response) {
            if (response.session) {
                init();
                } else {
                login();
            }
        });

        function login() {
            // FB.login(function(response) {
            //     if (response.authResponse) {
            //         init();
            //         } else {
            //         alert('Login Failed!');
            //     }
            // }, {scope:'user_photos'});
           init();
        }

        function init() {
            FB.api('/me', function(response) {
                // ALL params are OPTIONAL.  Defaults are passed in to show available params.
                $('#jfmps-container').jfmps({
                    noAlbumImagesText:  'You have no images in this album.',
                    noAlbumsText:  'You do not have any albums.',
                    submitCallback: function(jsonData){ 
                      var json = jQuery.parseJSON(jsonData);
                      var slides = new Array();
                      for (var k in json) {
                        slides.push({"photo_url":json[k][0]["source"]});
                      }
                      var slideShowName = $("#title").val();
                      var slideShowDescription = $("#description").val();
                      var color1 = $("#color1").val();
                      var color2 = $("#color2").val();
                      var slideShow = {
                        "name" : slideShowName,
                        "description" : slideShowDescription,
                        "color1" : color1,
                        "color2" : color2
                      };
                      console.log(slideShow);
                      console.log(slides);
                      var data = {
                        "slide_show" : slideShow,
                        "slides" : slides
                      };
                      $.ajax({
                        type: 'POST',
                        url: '../../slide_shows.json',
                        data: data,
                        success: function(data,textStatus,jqXHR) {
                          window.location.replace("../slide_shows/" + data["id"]);
                        },
                        async:false
                      });
                    },
                    imageSubmitButton: $('#submit-button'),
                    maxPhotosSelected: 10,
                    numAlbumColumns: 4,
                    numPhotosColumns: 4,
                    debug: true
                });
            });
        }
    })(jQuery);
</script>
