<div class="hero-unit">
  <h1>SlideShows!</h1>
  <p>
    Make love and spread the slide shows.
  </p>
  <br />
  <a href="<%= new_slide_show_path %>">
    <button class="btn btn-large">
      Create a slideshow!
    </button>
  </a>
</div>
