<div class="hero-unit">
  <h1>SlideShows!</h1>
  <p>
    ConKore is mapping the urban jungle. Tag obstacles in you city, then post 
    and share videos of you conquoring them. Track your progress as a skater,
    meet other skaters in you area and find new awesome spots to conquer!
  </p>
</div>
