<style type="text/css" media="all">
    .center { margin:0 auto; }
    a:hover {
        color:0000
}
</style>

<div class="center" style="width:600px">
  <h1 class="logo_font">slideshows!</h1>
  <h4>
    Make love and spread the slide shows.
  </h4>
  <br />
  <a href="<%= new_slide_show_path %>">
    <button class="btn btn-default btn-large btn-block">
      create a slideshow!
    </button>
  </a>
</div>
