<div class="navbar">
  <%= link_to "Memoir", root_path, :class => 'navbar-brand' %>
  <ul class="nav navbar-nav">
  <% if user_signed_in? %>
    <button type="button" class="btn btn-default navbar-btn">
      <%= link_to 'Logout', signout_path %>
    </button>
  <% else %>
    <button type="button" class="btn btn-default navbar-btn">
      <%= link_to 'Login', signin_path %>
    </button>
  <% end %>
  </ul>
</div>
